<script setup>
import QuizQuestion from "../components/QuizQuestion.vue";
import QuizAlternative from "../components/QuizAlternative.vue";
import { computed } from "vue";
import {useRouter} from "vue-router";
import { useStore} from "vuex";


const store = useStore()
const router = useRouter();
const questions = computed( () => store.getters.questions);
const questionNumber = computed(() => store.state.questionIndex);
const alternativs = computed(() => store.state.shuffledAlternatives); 

// Registers a chosen alternative for a question. Saves the answer to the store. 
// Then changes the question to the next one, or reroutes to result view if no more questions
const handleClicked = (answer)=> {
  store.commit("pushSubmittedAnswer",answer)
   store.dispatch("iterateQuestionIndex")
  if (questionNumber.value >= questions.value.length){
    router.push("/results")
  }
}

</script>

<template>
  <div class="container bg-light-purple rounded-2xl p-10 mx-auto shadow-2xl mt-24">
  <QuizQuestion :currentQuestion="questionNumber" v-model:questionText="questions[questionNumber]"/>
  <span v-for="alternative in alternativs[questionNumber]" :key="alternative">
    <br />
    <QuizAlternative :alternative="alternative" @clicked="handleClicked" />
    <br />
  </span>
</div>
</template>