<script setup>
import QuizQuestion from "../components/QuizQuestion.vue";
import ResultAlternative from "../components/ResultAlternative.vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";

const store = useStore();
const router = useRouter();
const questions = store.getters.questionsAndAnswers;


let user = store.state.user;

//Calculate score
let score = 0;
let newHighScore = false;
for (let i=0; i<questions.length; i++) {
  let obj = questions[i];
  if ( obj.correct_answer === obj.answer) {
    score += 10;
    }
  }

//update highscore in state and api if new highscore
if (score > user.highScore) {
  newHighScore = true;
  store.commit("setHighScore", score);
  store.dispatch("pushNewHighScore");
  }

//method for button, that lets you play again. When called fetches new questions, resets relevant data and reroutes you to the quiz view.
  const playAgain = () => {
    console.log("PLAY AGAIN");
    store.dispatch("fetchQuestions");
    router.push("/quiz");
    }
  
  // reroutes you to the startscreen view
  const home = () => {
    router.push("/");
    }
  
</script>

<template>
  <h1 v-if="newHighScore" class="text-white mt-7 text-2xl font-extrabold animate__animated animate__tada">New highscore!</h1>
  <h2  class="text-white mt-4 mb-10 text-xl font-extrabold">Your Score: {{ score }}</h2>
  <div class="contain mx-auto w-3/5 bg-purple">
    <ul v-for="obj in questions" :key="obj.question">
      <QuizQuestion :currentQuestion="obj.index" :questionText="obj.question" />
      <br />
      <li>
        <ul v-for="a in obj.alternatives" :key="a">
          <ResultAlternative
            :alternative="a"
            :correctAnswer="obj.correct_answer"
            :userAnswer="obj.answer"
          />
          <br />
        </ul>
        <br />
      </li>
    </ul>
  </div>
 


  <button @click="playAgain" class = "bg-pink p-4 rounded mr-5 mb-5 text-white text-xl font-bold"> PLAY AGAIN </button>
  <button @click="home"  class = "bg-pink p-4 ml-5 w-40 rounded text-white text-xl font-bold">HOME</button>
</template>

