<script setup>
/*Start screen. 
Contains login and quiz param form. Routes to quiz view on succesfull fetch of quiz from TriviaAPI.*/

import { ref } from "@vue/reactivity";
import LoginRegisterForm from "../components/LoginRegisterForm.vue";
import QuizParams from "../components/QuizSetup.vue";
import { useRouter } from "vue-router";

const router = useRouter();
const logedIn = ref(false);

//successfully logged inn 
const handleAuthSuccess = () => {
  logedIn.value = true;
};

const routeQuiz = () => {
  router.push("/quiz");
};
</script>

<template>
  <main>
    <div class="rounded-2xl text-center">
      <LoginRegisterForm @onAuthSuccess="handleAuthSuccess" />
      <QuizParams v-if="logedIn" @onQuizFetchSuccess="routeQuiz" />
    </div>
  </main>
</template>

