<script setup>
/*Component for Login input and button*/ 

import { ref } from "vue";
import { useStore } from "vuex";
import { getUser, registerUser } from "../api/userApi";

const store = useStore();
const displayError = ref("");
const username = ref("");
const succesfullLogin = ref(false);
const emit = defineEmits("onAuthSuccess");


/*Get user from database. If user dont exist register user to database.
If succesfull login emit for QuizParam form to render
Display error if error occurs.*/
const onRegisterLoginClick = async () => {
  let [error, user] = await getUser(username.value);
  if (!error) {
    store.commit("setUser", user);
  } else if (error === "User not found") {
    [error, user] = await registerUser(username.value);
    store.commit("setUser", user);
  }
  if (user) {
    emit("onAuthSuccess");
  }
  displayError.value = error;
};
</script>

<template>
  <main class="container mx-auto px-4 bg-light-purple mt-16 pt-7">
    <h1 class="mb-3 text-2xl font-bold text-white">Login to get started</h1>
    <form class="bg-light-purple">
      <fieldset class="mb-3">
        <label
          for="username"
          aria-label="Username"
          class="block text-pink text-xl font-bold mt-4"
          >Username</label
        >
        <input
          type="text"
          id="username"
          placeholder="E.g, QuizMaster3000"
          class="border border-slate-300"
          v-model="username"
        />
      </fieldset>
      <button
        @click="onRegisterLoginClick"
        type="button"
        class="bg-pink p-4 rounded text-purple text-xl font-bold"
      >
        Login/Register
      </button>
    </form>
    <div v-if="displayError" class="bg-light-matt text-white p-3">
      <span class="block text-xl mb-3">Error</span>
      <p>{{ displayError }}</p>
    </div>
  </main>
</template>