<script setup>
// Form for setting up params for quiz(category, amount of questions, boolean/multible choice and difficulty)


import { onBeforeMount, reactive } from "@vue/runtime-core";
import { useStore } from "vuex";
import { computed, ref } from "vue";
import router from "../router";
const store = useStore();
const emit = defineEmits("onQuizFetchSuccess");

//get categories for select to state
onBeforeMount(async () => {
  await store.dispatch("fetchCategories");
});

//Quiz Params
const categories = computed(() => store.state.categories);
const selectedCategory = ref("");
const selectedDifficulty = ref("");
const numberOfQuestions = ref(10);
const selectedType = ref("");

//Send quiz params to state. Fetch questions to state and emit for route to Quiz view.
const onSubmit = async () => {
  await store.dispatch("fetchToken");
  const quizParam = {
    category: selectedCategory.value,
    difficulty: selectedDifficulty.value,
    amount: numberOfQuestions.value,
    type: selectedType.value,
  };
  store.commit("setQuizParams", quizParam);
  await store.dispatch("fetchQuestions");
  emit("onQuizFetchSuccess");
};
</script>

<template>
  <main class="container mx-auto drop-shadow-lg">
    <form @submit.prevent="onSubmit" class="bg-light-purple pb-10">
      <p class="pt-5 text-pink text-xl font-bold">Number of questions</p>
      <input
        class="p-3 w-1/4 rounded-lg animate__animated animate__heartBeat"
        type="number"
        min="1"
        max="50"
        v-model="numberOfQuestions"
      />
      <p class="mt-3 text-pink text-xl font-bold">Select Categories</p>
      <select
        class="p-3 w-1/4 rounded-lg animate__animated animate__heartBeat"
        name="categories"
        v-model="selectedCategory"
      >
        <option value="">Any Category</option>
        <option
          v-for="category in categories"
          :key="category.id"
          :value="category.id"
        >
          {{ category.name }}
        </option>
      </select>
      <p class="mt-3 text-pink text-xl font-bold">Select Difficulty</p>
      <select
        class="p-3 w-1/4 rounded-lg animate__animated animate__heartBeat"
        name="difficulty"
        v-model="selectedDifficulty"
      >
        <option value="">Any Difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
      <p class="mt-3 text-pink text-xl font-bold">Select Type</p>
      <select
        class="p-3 w-1/4 rounded-lg animate__animated animate__heartBeat"
        name="type"
        v-model="selectedType"
      >
        <option value="">Any Type</option>
        <option value="boolean">True / False</option>
        <option value="multiple">Multible Choice</option>
      </select>
      <p class="w-full"></p>
      <button
        type="submit"
        class="
          bg-pink
          p-4
          rounded
          mt-4
          w-1/4
          text-purple text-3xl
          font-bold
        "
      >
        Start Quiz
      </button>
    </form>
  </main>
</template>