<script setup>
const props = defineProps({
  alternative: {
    type: [String,Boolean],
    required: true,
  },
});

const emit = defineEmits(["clicked"]);

//Sends information to the parent that this alternative has been clicked. The alternative can then be stored in the store by parent.
const handleClick = () => {
  emit("clicked", props.alternative);
};
</script>


<template>
  <span>
    <button @click="handleClick" class="bg-pink w-2/5 text-light-purple p-4 rounded border-b-purple border-4 shadow-md text-2xl font-bold">{{ alternative }}</button>
  </span>
</template>