<script setup>
const props = defineProps({
  currentQuestion: {
    type: Number,
    required: true,
  },
  questionText: {
    type: String,
    required: true,
  },
});
// This is a component that only displays the question text. It is used by both Quiz and Result views.
</script>

<template>
  <h1 class="text-white text-xl font-bold p-1">Question {{ currentQuestion +1}}</h1>
  <p class="text-white text-l font-bold p-1">{{ questionText }}</p>
</template>