<script setup>
const props = defineProps({
  alternative: {
    type: String,
    required: true,
  },
  correctAnswer: {
    type: String,
    required: true,
  },
  userAnswer: {
    type: String,
    required: true,
  },
});

// checks if this is the correct answer
const thisIsCorrect = props.alternative === props.correctAnswer;

// checks if this was the users answer
const userAnsweredThis = props.userAnswer === props.alternative;

// is true if user chose this alternative and this alternative is correct
const userAnsweredThisCorrect = thisIsCorrect && userAnsweredThis;

//is true if user chose this alternative and this is not the correct alternative
const userAnsweredThisWrong = !thisIsCorrect && userAnsweredThis;

//is true if this is the correct answer but user did not choose this alternative
const userDidNotAnswerButThisIsCorrect = thisIsCorrect && !userAnsweredThis;
</script>


<template>
<div class="container mx-auto">
  <span v-if="userAnsweredThisCorrect" >
    <p class="bg-green border-yellow border-2 text-white font-bold p-3  text-sm shadow-2xl ">{{ alternative }}</p>
  </span>
  <span v-else-if="userAnsweredThisWrong" >
    <p class="bg-red border-yellow border-2 text-white p-3  text-sm shadow-2xl ">{{ alternative }}</p>
  </span>
  <span v-else-if="userDidNotAnswerButThisIsCorrect">
    <p class="bg-dark-green  text-white font-bold p-3  text-sm shadow-2xl">{{ alternative }}</p>
  </span>
  <span v-else>
    <p class="bg-ex-light-purple text-sm font-bold shadow-2xl text-white p-3">{{ alternative }}</p>
  </span>
  </div>
</template>